# MIT License
#
# Copyright (C) 2025-2026 Advanced Micro Devices, Inc. All rights reserved.
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

# Base test dependencies
pytest
pytest-xdist

# test_dask
dask

# test_matplotlib
matplotlib

# test_numpy
numpy

# test_seaborn
seaborn

# test_scipy
scipy

# test_sklearn
scikit-learn

# test_stumpy
stumpy

# test_tensorflow (ROCm) - not available for Python 3.11 and 3.13
--find-links https://repo.radeon.com/rocm/manylinux/rocm-rel-7.2/
# tensorflow-rocm==2.18.1

# test pytorch (ROCm)
torch==2.8
torchvision==0.24
torchaudio==2.8

# test_xgboost
hypothesis>=6.131.7
# TODO(HIP/AMD): Integrate with xgboost ROCm
# xgboost>=2.0.1

# test_catboost
catboost

# test_ibis
ibis-framework[duckdb]
duckdb<1.4.0

# test_hvplot
hvplot

# test_holoviews
holoviews

# test_plotly
plotly

# TODO(HIP/AMD): Support on ROCm
# cuml
# cugraph

